<html>
    <head>
        <title>weather app</title>
        <link rel='stylesheet' href='/css/style.css'>   
        <link rel="icon" href='/images/robot.png'>
    </head>
    <body>
        <div class='main-content'>
            {{>header}}
        </div>
        {{>footer}}
        {{!-- <script src='/js/app.js'></script>  --}}
    </body>
</html>
